name: fogtype
services:
  https:
    image: caddy:2.10.2-alpine@sha256:11aadc735925d782bdc5d83344408a9d630ba00cf45e68108e671011bc7386bc
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443/udp"
      - "443:443/tcp"
      - "127.0.0.1:2019:2019"
    volumes:
      - ./etc/caddy:/etc/caddy
      - ./srv:/srv
      - caddy_data:/data
      - caddy_config:/config
  gts:
    image: superseriousbusiness/gotosocial:0.20.2@sha256:3a195bde145798ff7a18609a06c1b3aa0e42d4c66f2e8708d9901a91d9a667cb
    restart: unless-stopped
    environment:
      GTS_HOST: fogtype.com
      GTS_DB_TYPE: sqlite
      GTS_DB_ADDRESS: /gotosocial/storage/sqlite.db
      GTS_TRUSTED_PROXIES: 172.30.0.0/24,fded:a56c:7a13::/64
    volumes:
      - /usr/share/zoneinfo/Asia/Tokyo:/etc/localtime:ro
      - ./etc/gotosocial:/etc/gotosocial
      - gotosocial_data:/gotosocial/storage
    command: "--config-path /etc/gotosocial/config.yaml"
  maddy:
    image: foxcpp/maddy:0.8.2@sha256:eeb5813fc4d101ec5d8f7b08b7255fd76ced2a06884ea94450c8a9a22fd6a08d
    restart: unless-stopped
    ports:
      - "25:25"
      - "465:465"
      - "993:993"
    environment:
      MADDY_HOSTNAME: fogtype.com
      MADDY_DOMAIN: fogtype.com
    volumes:
      - ./etc/maddy:/etc/maddy
      - caddy_data:/var/lib/caddy/data:ro
      - maddy_data:/data
  headscale:
    image: headscale/headscale:v0.27.1@sha256:cd37b30018575fd62f18419138d4e526bcf894e1d4e1aa1b08699cec1891ac23
    restart: unless-stopped
    ports:
      - "3478:3478/udp"
      - "127.0.0.1:9200:9200"
    volumes:
      - ./etc/headscale:/etc/headscale
      - headscale_data:/var/lib/headscale
    command: serve
volumes:
  caddy_data:
  caddy_config:
  gotosocial_data:
  maddy_data:
  headscale_data:
networks:
  default:
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 172.30.0.0/24
        - subnet: fded:a56c:7a13::/64
