{
	admin 0.0.0.0:2019
	acme_ca https://acme.zerossl.com/v2/DV90
	email kou029w@gmail.com
}
keiu.net {
	file_server
	reverse_proxy /dns-query https://dns {
		transport http {
			tls_server_name keiu.net
		}
	}
}
www.keiu.net {
	redir https://keiu.net{uri} 308
}
