keiu.net, www.keiu.net {
	redir https://fogtype.com{uri} 308
}
read.keiu.net {
	redir https://rad.fogtype.com{uri} 308
}
fogtype.com {
	handle /.well-known/nostr.json {
		file_server
	}
	reverse_proxy http://gts:8080
}
www.fogtype.com {
	redir https://fogtype.com{uri} 308
}
dns.fogtype.com {
	reverse_proxy /dns-query https://dns {
		transport http {
			tls_server_name dns.fogtype.com
		}
	}
}
