{
	admin 0.0.0.0:2019
	acme_ca https://acme.zerossl.com/v2/DV90
	email kou029w@gmail.com
}
keiu.net {
	file_server
}
www.keiu.net {
	redir https://keiu.net{uri} 308
}
dns.keiu.net {
	reverse_proxy https://dns.keiu.net
}
