COCOON_DID=did:web:fogtype.com
COCOON_HOSTNAME=pds.fogtype.com
COCOON_CONTACT_EMAIL=nebel@fogtype.com
COCOON_RELAYS=https://bsky.network
COCOON_DB_NAME=/data/cocoon/cocoon.db
COCOON_ROTATION_KEY_PATH=/data/cocoon/rotation.key
COCOON_JWK_PATH=/data/cocoon/jwk.json
# COCOON_ADMIN_PASSWORD=
# COCOON_SESSION_SECRET=
